h1
{
    color: white;
    background-color: red;
    padding-left: 8px;
}

p
{
    color: black;
    background-color: mediumorchid;
    border: 2.5px solid yellowgreen;
    width: 240px;
    padding: 10px;
}