.notice-board
{
    background-color: #eee;
    height: 500px;
    width: 450px;
    overflow: hidden;
    position: relative;
    left: 40%;
    top: 200px;
    box-shadow: 5px 5px 10px royalblue;
    padding: 5px;
}
.notice
{
     position: relative;
    /* animation-name: noticeAnimation;
    animation-duration: 25s;
    animation-iteration-count: infinite;  */
    animation: noticeAnimation 25s 2s infinite;
}

@keyframes noticeAnimation {
    from
    {
        top:0px;
    }
    to
    {
        top: -800px;
    }
}