body
{
background-color: royalblue;
}

 @media screen and (min-width:750px)
{
    body
    {
        background-color: green;
    }

    h1
    {
        color: white;
        background-color: royalblue;
    }
} 

@media screen and (max-width:750px)
{
    body
    {
        background-color: rgb(4, 200, 254);
    }

    h1
    {
        color: white;
        background-color: rgb(203, 18, 231);
    }
}

