body
{
background-color: royalblue;
}

@media screen and (min-width:750px) and (max-width:1000px)
{
    body
    {
        background-color: green;
    }

    h1
    {
        color: white;
        background-color: royalblue;
    }
} 
